* {
  box-sizing: border-box;
}

html {
  font-family: 'Catamaran', sans-serif;
}

#game {
  background: url('../img/nackground.png') no-repeat center;
}

body {
  margin: 0;
}

.score {
  font-weight: 1000;
  font-size: 43px;
  position: absolute;
  top: 85px;
  left: 73%;
}

.menu-container {
  height: 100vh;
  width: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  flex-direction: column;
  margin-right: 100px;
  background: url('../img/logo_white.png') no-repeat left 33% bottom 95%;
  ;
}

.instruction {
  width: 409px;
  height: 700px;
}

.instruction-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 40px;
}

.instruction>ul>li>h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 20px;
  color: white;
}

.instruction>ul>li {
  display: flex;
  padding-bottom: 30px;
}

.logo {
  width: 300px;
  height: 100px;
  background-color: darkblue;
}

.game {
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

.row {
  display: flex;
}

.cell {
  width: 1vw;
  height: 1vw;
  /* border: 1px solid white;
  margin: 0.4vw; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.01s;
  background: white;
}

.game-display {
  display: flex;
  flex-direction: column;
}

.trucks {
  position: absolute;
  bottom: -132px;
  display: flex;
  width: 100%;
  overflow: visible;
  justify-content: space-around;
  padding: 0 5px;
}

.truckPhantom {
  background: url('../img/paka.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 10vw;
  opacity: 0.7;
  flex-basis: 34%;
}

.truck-one {
  background-color: darkblue;
}

.truck {
  background-color: rgb(189, 189, 189);
}
.first-truck-timer-position{
}
.second-truck-timer-position{
}
.third-truck-timer-position{
}
.timer-border{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 4rem;
  position: absolute;
  left: 60px;
  bottom: 200px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid black;
  background-color: white;
  opacity: 1;
  transition: all 1s;
}
.one{
  left: 60px;
  bottom: 200px;
}
.two{
  left: 275px;
  bottom: 200px;
}
.three{
  left: 485px;
  bottom: 200px;
}
.brick {
  background-color: red;
}

.blocked {
  background-color: rgba(39, 39, 39, 0.322) !important;
}

.wall {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.001s;
  background: rgb(67, 124, 240);
}

.brick {
  background-color: rgb(214, 30, 184);
}

.logo-core {
  background-color: #fff;
  padding-bottom: 50px;
}

.popup-game-over {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  transition: all 1s;
}

.popup-game-over h1 {
  font-size: 10rem;
  color: rgb(255, 255, 255);
}

.popup-body {
  height: 100vh;
  width: 100vw;
  background: url('../img/nackground.png') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  background-color: RGBA(255, 255, 255, 0.4);
}

.paragraph-about-gameover {
  margin: 10px;
}

.popup-score {
  height: 100vh;
  width: 100vw;
  background: url('../img/nackground.png') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  background-color: RGBA(255, 255, 255, 0.4);
}

.main-popup-container {
  margin: 0 auto;
  background: url('../img/apla.png') no-repeat center;
  background-size: cover;
  height: 80vh;
  width: 65vw;
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-popup-container-end {
  margin: 0 auto;
  background: url('../img/gameover_tlo_black.png') no-repeat center;
  background-size: cover;
  height: 80vh;
  width: 65vw;
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .text-about-truck-time {
  font-size: 30px;
  position: absolute;
  top: 300px;
  left: 625px;
  background-color: RGBA(255, 255, 255, 0.4);
  width: 200px;
  text-align: center;
  padding: 5px;
} */

.pause-game {
  font-size: 50px;
  font-weight: 800;
  margin: 70px 10px 70px 10px;
  color: #323232;
}

.end-game-2 {
  font-size: 45px;
  font-weight: 800;
  margin: 40px 10px 40px 10px;
  color: #f8c512;
}

.end-game {
  font-size: 50px;
  font-weight: 800;
  margin: 40px 10px 0px 10px;
  color: #fff;
}

.upper-case {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

.paragraph-about-pause {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 0 20px;
  color: #323232
}

.add-button {
  border: 1px #fcc61e solid;
  background: linear-gradient(#f8c512, #edb60d);
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  padding: 20px 50px 20px 50px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.05s;
}

.resume-game {
  background: #323232;
}

.add-button:hover {
  background: #ff8c0a;
}

.submit-button {
  border: 1px #323232 solid;
  background-color: #fcc61e;
  font-size: 10px;
  color: #fff;
  font-weight: 800;
  padding: 4px 15px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.05s;
  width: 40%;
  height: 30px;
  font-size: 14px;
}

.header-for-score {
  font-size: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.input-button {
  height: 30px;
  font-size: 14px;
  margin-left: 20px;
}

.button-box {
  padding-top: 60px;
  width: 80%;
}

.button-box-end {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  align-items: center;
}

i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.arrow {
  margin-left: 5px;
}

.hidden {
  top: -100%;
  opacity: 0;
}

.form-score {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  align-items: center;
}

.last-scorse-header {
  color: #f8c512;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: 800;
}

.last-scorse-header-2 {
  color: #fff;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: 800;
}

.last-scores {
  text-align: left;
}

.last-scores li {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.board-with-trucks {
  position: relative;
}
.music-button{
  width: 80px;
  height: 80px;
  background-image: url("../img/audio-on.svg");
  background-size: cover;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.5s;
}
.music-button:hover{
  opacity: 0.5;
}
.off{
  background-image: url("../img/audio-off.svg");
}
.shake-animation{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}